.tt-day {
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}
.tt-hour {
    border-left: 1px dashed gray;
    border-top: 1px dashed gray;
}

.tt-activity {
    border: 1px solid grey;
    border-radius: 0.5em ;
    -moz-border-radius: 0.5em ;
    -webkit-border-radius: 0.5em ;
}

.tt-activity * {
    margin-left: 5px;
    margin-right: 5px;
}
.tt-activity *:first-child {
    margin-top: 5px;
}

.tt-activity *:last-child {
    margin-bottom: 5px;
}

.tt-mobile {
    font-size: xx-large;
}
.tt-mobile .tt-hour {
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    min-height: 100px;
}
.tt-overlay {
    background-color: black;
    opacity: 0.5;
}
.tt-overlay .tt-noContent {
    padding: 5px;
    border: 0.1em solid #000;
    border-radius: 0.5em ;
    background-color: #99CCFF;
    color: black;
    font-weight: bold;
    white-space: nowrap;
}