/* #timetable {
    background: none repeat scroll 0 0 #fff;
    color: #000;
    height: 100%;
    width: 100%;
} */

.tt-activity{
    padding: 0;
    font-size: 0.9em;
    border:0.1em solid #000;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em ;
	-webkit-border-radius: 0.5em ;
    overflow: hidden;
    color: #000;
}

.tt-activity h4 {
    padding: 2px 0.5em 0 0.5em;
}
.tt-activity ol{
   margin: 0 0 0 1%;
    font-size: 86%;
    white-space: nowrap;
    padding: 0 0.5em 0 0.5em;
}
.tt-activity ol li {
    list-style: none outside none;
    
}
.tt-activity:hover,
.tt-activity:focus{
    background-color:#B797C9;
}



.tt-day {
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}
.tt-hour {
    border-left: 1px dashed gray;
    border-top: 1px dashed gray;
}


.tt-day{
    clear:both;
}
.tt-overlay {
    background-color: white;
    opacity: 0.5;
}
.tt-overlay div {
    padding: 5px;
    border: 0.1em solid #000;
    border-radius: 0.5em ;
    background-color: #99CCFF;
    color: black;
    font-weight: bold;
    white-space: nowrap;
}

.title a {
    text-decoration: none;
}
.title a img {
    vertical-align: middle;
}


.controls {
    margin: 10px;
}

